div.repeats-value {
  min-width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 5px solid purple;
  border-radius: 50%;
  margin: 10px;
  font-size: 1.2em;
  text-shadow: 0 0 5px black;
  transition: font-size text-shadow 0.2s;
}

div.repeats-value:hover {
  cursor: pointer;
  font-size: 1.5em;
  text-shadow: 0 0 5px darkgray;
}

div.completed {
  background-color: lightgray;
}
