section.exercise-details h1 {
    text-align: center;
}

section.exercise-details > div {
    display: flex;
    align-items: center;
}

section.exercise-details div.on-right {
    padding-left: 15px;
}

section.exercise-details div.on-right p {
    font-size: 1.3em;
}

section.exercise-details div img {
    width: 350px;
    height: 250px;
}

section.exercise-details .button-controls {
    
}

.info-btn, .danger-btn {
    font-size: 1.2em;
    font-family: "Oleo Script";
    padding: 7px 17px;
    border-radius: 10px;
}

.info-btn {
    background-color: lightblue;
    border: 1px solid lightpink;
}

.danger-btn {
    background-color: lightpink;
    border: 1px solid lightblue;
    margin-left: 15px;
}

.info-btn:hover, .danger-btn:hover {
    cursor: pointer;
    box-shadow: 2px 2px 3px darkgray;
}
