a {
    text-decoration: none;
    color: purple;
}

article.my-exercise {
    border: 1px solid purple;
    box-shadow: -2px 2px 3px rgb(206, 26, 206);
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 450px;
    height: 250px;
    margin: 20px;
}

article.my-exercise img {
    width: 250px;
    height: 200px;
    margin: 0 10px;
    border-radius: 10px;
}

article.my-exercise h2 {
    
}
